<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">

                <div class="card-body">
                    <div class="row">
                        <hr />
                        <p><b>Location Code</b> @Model.ILocation.LCode</p>
                        <p><b>Item Description</b> @Model.IItem</p>
                        <p><b>Quantity</b> @Model.IQuantity</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


