 <!-- footer start-->
<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 footer-copyright">
                <p class="mb-0">Developed by McByte, SECP3106 Application Development (WBL), Bachelor of Computer Science (Data Engineering), Universiti Teknologi Malaysia.</p>
            </div>
            
        </div>
    </div>
</footer>