@using System.Security.Claims

@{
    var usernameClaim = Context.User.Claims.FirstOrDefault(c => c.Type == "Username");
    var username = usernameClaim?.Value;

    var userRoleIdClaim = User.Claims.FirstOrDefault(c => c.Type == "URoleid");
    var userRoleId = userRoleIdClaim != null ? int.Parse(userRoleIdClaim.Value) : 0;


}

<!-- Page Sidebar Start-->
<header class="main-nav">
    <div class="sidebar-user text-center">
        <a class="setting-primary" href="javascript:void(0)"><i data-feather="settings"></i></a><img class="img-90 rounded-circle" src="~/assets/images/dashboard/1.png" alt="">
        <div class="badge-bottom"><span class="badge badge-primary">New</span></div><a asp-controller="User" asp-action="UserProfile">
            <h6 class="mt-3 f-14 f-w-600">Hello @username</h6>
        </a>
        <p class="mb-0 font-roboto">@Context.User.FindFirst("RoleName")?.Value</p>
        
    </div>
    <nav>
        <div class="main-navbar">
            <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
            <div id="mainnav">
                <ul class="nav-menu custom-scrollbar">
                    <li class="back-btn">
                        <div class="mobile-back text-end"><span>Back</span><i class="fa fa-angle-right ps-2" aria-hidden="true"></i></div>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="home"></i><span>Dashboard</span></a>
                        <ul class="nav-submenu menu-content">
                            @if (userRoleId == 3)
                            {
                                <li><a asp-controller="Dashboard" asp-action="Index">General</a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Dashboard" asp-action="Index">Sales</a></li>
                            }
                            @if (userRoleId == 3)
                            {
                                <li><a asp-controller="TbSales1" asp-action="SalesDashboard">Sales</a></li>
                            }else{}
                            <li><a asp-controller="TbInvestors" asp-action="InvDashboard">Share</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link menu-title link-nav" asp-controller="TbUsers" asp-action="Index"><i data-feather="users"></i><span>Users & Roles</span></a></li>
                    <li class="dropdown">
                        <a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="dollar-sign"></i><span>Finance</span></a>
                        <ul class="nav-submenu menu-content">
                            <li><a asp-controller="TbPayments" asp-action="Index">Payment History</a></li>
                            <li><a asp-controller="TbSales1" asp-action="Index">Expenses</a></li>
                            <li><a asp-controller="TbSales1" asp-action="SalesByCategoryAndMonth">Sales Summary</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="nav-link menu-title" href="javascript:void(0)"><i data-feather="cloud"></i><span>Investor</span></a>
                        <ul class="nav-submenu menu-content">
                            <li><a asp-controller="TbInvestors" asp-action="Index">List</a></li>
                            <li><a asp-controller="TbLots" asp-action="Index">Lot</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link menu-title link-nav" asp-controller="TbTenants" asp-action="Index"><i data-feather="user-check"></i><span>Tenants</span></a></li>
                    <li><a class="nav-link menu-title link-nav" asp-controller="TbRooms" asp-action="Index"><i data-feather="home"></i><span>Rooms</span></a></li>
                    <li><a class="nav-link menu-title link-nav" asp-controller="TbLocations" asp-action="Index"><i data-feather="map-pin"></i><span>Location</span></a></li>
                    <li><a class="nav-link menu-title link-nav" asp-controller="Inventory" asp-action="Index"><i data-feather="database"></i><span>Inventory</span></a></li>
                    <li><a class="nav-link menu-title link-nav" asp-controller="TbAttendancesCleaner" asp-action="Index"><i data-feather="check-square"></i><span>Cleaner Attendance</span></a></li>
                </ul>
            </div>
            <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
        </div>
    </nav>
</header>
<!-- Page Sidebar Ends-->